name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
    - name: Check out
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Set PYTHONPATH
      run: |
        echo "PYTHONPATH=`pwd`" >> "$GITHUB_ENV"
    - name: Analyzing the code with pylint
      run: |
        python -m pylint $(git ls-files '*.py')
